/* Font */
@font-face {
  font-family: "intro";
  src: url(../police/Intro.otf);
}


h2 ,  h3  { 
  font-family: "intro" !important;
  
}

.buttonPortfolio{ 
  color: white;
  background-color: black;
  border-radius: 50em !important;
  border: 2px solid #8639FE ;

}

.buttonPortfolio:hover {
  background-color:#8639FE; 
  
}

.buttonNav{ 
    background-color: #8639FE !important;
    position: sticky;
}


/*Header */ 

.bgBody {
   background-color: black;
   height: 50rem;
   margin: 0;
   padding: 0;
}

html {
    scroll-behavior: smooth;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.4s;
  z-index: 99;
  padding: -5px;
}

#navbar a {
  float: left;
  padding: 12px;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
}

.navText{
  color: white;
}


#navbar a:hover {
    color: #8639FE;
}


.hv-100 {
    height: 100vh;
}


#pageArrivee {
    background-image: url(../images/pageaccueildarck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}



.baniere{ 
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
 width: 100%;
 height: 31rem;
}



/* ----------------------------*/


/*About Me */ 
#about{
  margin-top: 10rem;
}
#photographerContainer {
    height: 100%;
    width: 60%;
}

#photographer {
    background-image: url(../images/photographe2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:30rem;
    width: 50%;
}

/* My Resume */

.resume{ 
  border-top:  30px solid white;
  border-bottom: 30px solid white;
  margin-top: 10rem;
margin-bottom: 10rem;
padding: 5rem;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #CA26F1;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background:#CA26F1;
    
  }
  
/*Portfolio*/ 


.blockImg{ 
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  
}


.photo{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  
}
.pictureDesign{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
}
.picturePhoto{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}


/* ----------------------------*/

  /*footer*/ 
  footer{ 
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* ----------------------------*/

  /*............Page PortFolio .................*/
  #pagePortfolio{ 
    background-image: url(../images/color.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }




  /*............Media querie .................*/
  
  @media screen and (max-width: 680px) {
    .baniere{
      height: 8rem;
      width: 100%;
    }
    #photographer{ 
      height: 10rem;
      width: 20%;
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 2rem ;
    }
}



